.logo{width:205px;margin-top:10px;}
.whitecolor{background:#ffffff;}
.aliasName{color:#FFBF00;font-size:11px;}
.nobrd{padding: 8px !important; margin: 0 !important; border-radius: 0px !important;color:#FFF;font-size:14px;font-weight:bold;text-align:center;}